* {
    margin: 0;
    padding: 0;
}
 
body {
    color: white;
    background-image: url('https://images.unsplash.com/photo-1434064511983-18c6dae20ed5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5f29d037842c14cb81cddea387221b20');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#snippedUrl {
    color: white;
}


#footer {
  position: fixed;
  mix-blend-mode: difference;
  bottom: 5%;
  right: 5%;
  z-index: 100;
}


#linkP {
    color: white;
    text-decoration: none;
}

.underline {
	position: relative !important;
}

.underline.black::after {
	content: '';
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid black;
  transition: all 0.4s ease;
}

.underline.white::after {
	content: '';
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid white;
  transition: all 0.4s ease;
}

.underline:hover::after {
	width:100%;
}







